[Unit]
Description=TCP stream duplicator
Documentation=https://github.com/SOSETH/tcpdup
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=nobody
MemoryHigh=64M
MemoryMax=128M
EnvironmentFile=/${CMAKE_INSTALL_SYSCONFDIR}/default/tcpdup
ExecStart=${CMAKE_INSTALL_PREFIX}/bin/tcpdup $ARGS
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
