Source: tcpdup
Section: utils
Priority: optional
Maintainer: Maximilian Falkenstein <mfalkenstein@sos.ethz.ch>
Build-Depends: debhelper (>=9), libboost-all-dev, libseccomp-dev
Standards-Version: 3.9.8
Vcs-Git: git@soslab.ethz.ch:isg/tcpdup.git
Vcs-Browser: https://soslab.ethz.ch/isg/tcpdup
Description: TCPDup duplicates a tcp stream
 to multiple backends

Package: tcpdup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TCPDup duplicates a tcp stream
 to multiple backends
